<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="flex mx-auto max-w-7xl py-8">
        <aside class="w-1/4 p-4 mr-4 bg-white rounded-lg shadow">
            <form action="">
                <h2 class="text-lg font-semibold mb-4">Filters</h2>
                <label for="size" class="block text-sm font-medium text-gray-700 mb-1">Size</label>
                {{ filter.title }}
<!--                <select id="size" name="size"-->
<!--                    class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 mb-4">-->
<!--                    <option value="">All Sizes</option>-->
<!--                    <option value="XS">XS</option>-->
<!--                    <option value="S">S</option>-->
<!--                    <option value="M">M</option>-->
<!--                    <option value="L">L</option>-->
<!--                    <option value="XL">XL</option>-->
<!--                </select>-->
                <label for="color" class="block text-sm font-medium text-gray-700 mb-1">Color</label>
                {{ filter.price }}
<!--                <select id="color" name="color"-->
<!--                    class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">-->
<!--                    <option value="">All Colors</option>-->
<!--                    <option value="black">Black</option>-->
<!--                    <option value="white">White</option>-->
<!--                    <option value="red">Red</option>-->
<!--                    <option value="blue">Blue</option>-->
<!--                    <option value="green">Green</option>-->
<!--                </select>-->
                <button type="submit">Ok</button>
            </form>
        </aside>

        <section class="flex-1">
            <div class="container mx-auto">

                <h2 class="text-2xl font-semibold mb-6">Skirt Catalog</h2>
                <div class="grid grid-cols-3 gap-6">
                    {% for i in products %}
                    <a href="/product/detail/{{ i.id }}" class="bg-white rounded-lg shadow overflow-hidden">

                        <img src="{{ i.images.first.images.url }}"
                            alt="Skirt 1" class="w-full h-64 object-cover">
                        <div class="p-4">
                            <h3 class="text-lg font-semibold">{{ i.title }}</h3>
                            <p class="text-gray-600">{{ i.price.price }} сом</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}